.button {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  border: 0;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  appearance: none;
  background-color: $COLOR_BUTTON;
  color: $COLOR_LINK;
  padding: $SPACING_S $SPACING_M;
  font-size: 14px;
  line-height: $LINE_HEIGHT_CAPTION;

  @include mq($from: medium) {
    padding: $SPACING_M $SPACING_L;
    font-size: 18px;
  }
}