/**
 * Component: Product card
 * -----------------------------------------------------------------------------
 * Base styling for individual product card items which are usually displayed in groups.
 *
 */
.product-card {
  $parent: &;
  color: $COLOR_TEXT_PRIMARY;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  padding: 0 $SPACING_M;

  &__image-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__add-to-cart {
    background-color: $COLOR_TEXT_INVERSE;
    color: $COLOR_PRIMARY;
    padding: $SPACING_S $SPACING_XL;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 18px;
    bottom: 18px;
    right: 18px;
  }

  @include mq($from: large) {
    width: 25%;
  }
}
