/**
 * Component: Product card
 * -----------------------------------------------------------------------------
 * Base styling for individual product card items which are usually displayed in groups.
 *
 */
.product-card {
  $parent: &;
  color: $COLOR_TEXT_PRIMARY;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  padding: 0 $SPACING_M;

  &:hover {
    #{$parent}__add-to-cart {
      display: block;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    width: 100%;
  }

  &__add-to-cart {
    display: none;
    background-color: $COLOR_TEXT_INVERSE;
    color: $COLOR_TEXT_PRIMARY;
    padding: $SPACING_S $SPACING_XL;
    font-weight: $WEIGHT_BOLD;
    font-size: 18px;
    line-height: $LINE_HEIGHT_BODY;
    text-align: center;
    text-decoration: none;
    position: absolute;
    left: 18px;
    bottom: 18px;
    right: 18px;
  }

  &__sale {
    background-color: $COLOR_BUTTON;
    color: $COLOR_LINK;
    padding: $SPACING_S $SPACING_M;
    font-weight: $WEIGHT_BOLD;
    font-size: 14px;
    line-height: $LINE_HEIGHT_CAPTION;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
    color: $COLOR_TEXT_PRIMARY;
    font-size: 18px;
    font-weight: $WEIGHT_BOLD;
  }

  &__price {
    color: $COLOR_TEXT_LIGHT;
    font-size: 18px;
    font-weight: $WEIGHT_LIGHT;
  }

  @include mq($from: small) {
    width: 50%;
  }

  @include mq($from: medium) {
    width: calc(100% / 3);
  }

  @include mq($from: large) {
    width: 25%;

    &__title {
      font-size: 21px;
    }
  }
}
