/**
 * Sections: Featured collection
 * -----------------------------------------------------------------------------
 * Base styling for the featured collection product grid.
 *
 */
.featured-collection {
  background-color: $COLOR_BACKGROUND_WHITE;

  &__heading {
    color: $COLOR_TEXT_PRIMARY;
    text-align: center;
    font-weight: $WEIGHT_BOLD;
    font-size: 28px;
    margin-bottom: $SPACING_S;
  }

  &__description {
    color: $COLOR_TEXT_LIGHT;
    text-align: center;
    font-weight: $WEIGHT_LIGHT;
    font-size: 14px;
    line-height: $LINE_HEIGHT_BODY;
    padding-bottom: $SPACING_L;
  }

  &__carousel {
    margin-bottom: $SPACING_3XL;
    padding-bottom: $SPACING_XL;
  }

  &__cta {
    display: flex;
    justify-content: center;
    padding-top: $SPACING_L;
  }

  @include mq($from: medium) {
    &__heading {
      font-size: 34px;
      margin-bottom: $SPACING_M;
    }

    &__description-wrapper {
      display: flex;
      justify-content: center;
    }

    &__description {
      flex-basis: 50%;
      font-size: 16px;
      padding-bottom: $SPACING_XL;
    }
  }

  @include mq($from: large) {
    &__heading {
      font-size: 40px;
    }

    &__description {
      font-size: 18px;
      padding-bottom: $SPACING_2XL;
    }

    &__cta {
      padding-top: $SPACING_3XL;
    }
  }

  .flickity-prev-next-button {
    background-color: transparent;
    top: 40%;

    &.previous {
      left: -40px;
    }
  
    &.next {
      right: -40px;
    }
  }

  .flickity-page-dots .dot {
    width: 7px;
    height: 7px;
  }
}
